# This is an example of torrc configuration
# if you want torjail to use your local tor instance.

# To make torjail works as expected you need at least this configuration:

TransPort 9040
DNSPort 5354

AutomapHostsSuffixes .onion,.exit
AutomapHostsOnResolve 1