#!/usr/bin/make -f

# Copyright (C) 2018 - underscore@autistici.org
# Copyright (C) 2018 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
# This work is free. You can redistribute it and/or modify it under the
# terms of the Do What The Fuck You Want To Public License, Version 2,
# as published by Sam Hocevar. See the COPYING file for more details.

#export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	make manpages
	dh_installman $(CURDIR)/debian/tmp-man/*

override_dh_installchangelogs:
	dh_installchangelogs changelog.upstream upstream
